body{
    background: grey;
    color: white;
    font-family: Helvetica Neuve, Arial, Helvetica, sans-serif;
    margin:0;
    padding: 0;
    
}

/* HEADER */
header{
    background-color: black;
    background-image: url("images/Hero.jpg");
    background-size: 100%;
    background-position: center;
    height: 400px;
    padding: 20px;
    text-align: center;
}
header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-top:40px ;
}

header .logo a{
    background-image: url("images/logo.png");
    background-size: 300px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 80px;
    position: relative;
    text-indent: -999999999px;
    top: -30px;
    width: 300px;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
nav li{
    display: inline-block;
    margin: 0 20px 0 0;
}
/* FEATURES */
.features{
    background: white;
    color: gray;
    padding: 20px;
    display: flex;
    flex-direction: row;
  
}
/* FOOTER */
footer{
    background: black;
    color: grey;
    font-size: 10px;
    padding: 20px 20px;
    text-align:center
}
.features figure{
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    width: 100px;
   
}

.features figure img{
    border: 1px solid white;
    border-radius: 50%;
    box-shadow: grey 0 0 10px;
    width:200px ;
}

.top.buttons li a{
    color: black;
}
h1{
    color: green
}

@media screen and (max-width:400px){
    .features{
        background: red;
    }
}